.gridWrapper,
.gridWrapperReverse {
  @apply relative w-full h-[640px] grid grid-rows-3 grid-cols-3 gap-2.5;
}

.imageWrapper {
  @apply relative w-full h-full rounded-3xl overflow-hidden hover:cursor-pointer;
}

.imageWrapper:hover .hoverBlockWrapper {
  @apply visible absolute w-full h-full flex items-center justify-center z-10;
}

.hoverBlockWrapper {
  @apply hidden;
}

.gridWrapper div:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}
.gridWrapper div:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.gridWrapper div:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}
.gridWrapper div:nth-child(4) {
  grid-area: 3 / 1 / 4 / 2;
}
.gridWrapper div:nth-child(5) {
  grid-area: 2 / 2 / 4 / 4;
}

.gridWrapperReverse div:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.gridWrapperReverse div:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.gridWrapperReverse div:nth-child(3) {
  grid-area: 1 / 3 / 3 / 4;
}
.gridWrapperReverse div:nth-child(4) {
  grid-area: 2 / 1 / 4 / 3;
}
.gridWrapperReverse div:nth-child(5) {
  grid-area: 3 / 3 / 4 / 4;
}
