.gridWrapper,
.gridWrapperReverse {
  grid-template-rows: repeat(3, 20vh);
  @apply relative w-full grid grid-cols-3 max-sm:flex max-sm:flex-col gap-2.5;
}

.imageWrapper {
  @apply relative rounded-3xl overflow-hidden hover:cursor-pointer max-sm:h-64;
}

.imageWrapper:hover .hoverBlockWrapper {
  @apply visible absolute w-full h-full flex items-center justify-center z-10;
}

.hoverBlockWrapper {
  @apply hidden;
}

.gridWrapper div:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}
.gridWrapper div:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.gridWrapper div:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}
.gridWrapper div:nth-child(4) {
  grid-area: 3 / 1 / 4 / 2;
}
.gridWrapper div:nth-child(5) {
  grid-area: 2 / 2 / 4 / 4;
}

.gridWrapperReverse div:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.gridWrapperReverse div:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.gridWrapperReverse div:nth-child(3) {
  grid-area: 1 / 3 / 3 / 4;
}
.gridWrapperReverse div:nth-child(4) {
  grid-area: 2 / 1 / 4 / 3;
}
.gridWrapperReverse div:nth-child(5) {
  grid-area: 3 / 3 / 4 / 4;
}
